@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductViewModel
@{
    ViewBag.Title = "New Product";
    String ImagePath = string.Empty;
}
<form asp-controller="Home" asp-action="Save" method="post"
      class="m-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class=" row m-2">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <input asp-for="Name" class="col-sm-4 col-form-control" />
        <span id="spnNameError" style="color:red" class="col-sm-3">*</span>
    </div>
    <div class=" row m-2">
        <label asp-for="Qty" class="col-sm-2 col-form-label"></label>
        <input asp-for="Qty" class="col-sm-4 col-form-control" />
        <span id="spnQtyError" style="color:red" class="col-sm-3">*</span>
    </div>
    <div class=" row m-2">
        <label asp-for="Rate" class="col-sm-2 col-form-label"></label>
        <input asp-for="Rate" class="col-sm-4 col-form-control" />
        <span id="spnRateError" style="color:red" class="col-sm-3">*</span>
    </div>
    <div class="row m-2">
        <label class="col-sm-2 col-form-label">Is-Active</label>
        <div class="col-10">
            <div class="form-check form-check-inline">
                <label class="form-check-label" asp-for="IsActive">Active</label>
                <input class="form-check-label" asp-for="IsActive" />


            </div>
        </div>
    </div>
    <div class="row m-2">
        <label asp-for="Category" class="col-sm-2 col-form-label"></label>
        <select asp-for="CatId" asp-items="@(new SelectList(ViewBag.Category,"Id","Name"))"
                class="col-sm-5"></select>
    </div>
    @{
        if (Model.Profile == null)
        {
            ImagePath = "/Images/default.jpg";
        }
        else
        {
            ImagePath = "/Images/" + Model.Profile;
        }
    }
    <div class="row m-2">
        <div class="col-sm-2"><label asp-for="Profile" class="form-label"></label></div>
        <div class="col-sm-2">
            <img class="img-thumbnail" width="auto" height="20%"
                 src="@ImagePath" asp-append-version="true" />
        </div>
        <div class="col-sm-4">
            <input asp-for="Image" class="form-control col-sm-5" />
        </div>
    </div>
    <div class="row m-2">
        <button type="submit" class="btn btn-success col-sm-2" id="btnSave">Save</button>
        </div>

</form>