@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}
<h1>
    All Roles
</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" asp-action="CreateRole"
       asp-controller="Administration"style="width:auto">
        Create Role
    </a>
    foreach (var role in Model)
    {
                    <div class="card mb-3">
                        <div class="card-header">
                            Role Id : @role.Id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@role.Name</h5>
                        </div>
                        <div class="card-footer">
                            <a asp-action="EditRole" asp-controller="Administration"
                               asp-route-id="@role.Id"
                               class="btn btn-primary" style="width:75">Edit</a>
                            <a asp-action="DeleteRole" asp-controller="Administration"
                               asp-route-id="@role.Id"
                               class="btn btn-danger" style="width:75">Delete</a>

                        </div>
                    </div>
    }
}
else
            {
                <div class="card">
                    <div class="card-header">
                        No Role created yet
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Use the following button to create the role</h5>
                        <a class="btn btn-primary" asp-action="CreateRole"
                           asp-controller="Administration" style="width:auto">
                            Create Role
                        </a>
                    </div>
                </div>
            }