@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Add Product Details</h1><hr />
                            <form method="post" action="Save">
                                <p>
                                    <label>Product Id</label>&nbsp;
                                    <input type="number" id="id" name="Id" />
                                </p>
                                <p>
                                    <label>Name</label>&nbsp;
                                    <input type="text" id="name" name="Name" />
                                </p>
                                <p>
                                    <label for="qty">Quantity</label>&nbsp;
                                    <input type="number" id="qty" name="Qty" />
                                </p>
                                <p>
                                    <label for="rate">Rate</label>&nbsp;
                                    <input type="number" id="rate" name="Rate" />
                                </p>
                                <p>
                                    <input type ="submit" value="Save"/>
                                </p>

                            </form> 
