@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Product Id : @Model.Id</p>
<p>Name : @Model.Name</p>
<p>Quantity : @Model.Qty</p>
<p>Rate : @Model.Rate</p>

